## Pandas

o mundo maravilhoso dos dataframes

In [2]:
from pandas import *
set_option('notebook_repr_html', False)

#### Dois tipos de objeto:

1. **série**: arranjo indexado unidimensional (vetor no R).
2. **dataframe**: conjunto de séries que compartilham os mesmos índices.

In [4]:
# criando uma série
serie = Series([4, 5, 6.1, 98])
serie

0     4.0
1     5.0
2     6.1
3    98.0
dtype: float64

In [5]:
# apenas valores
serie.values

array([  4. ,   5. ,   6.1,  98. ])

In [6]:
serie.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
# especificar o índice manualmente
serie2 = Series([4, 5, 6.1, 98], index=list('abcd'))
serie2

a     4.0
b     5.0
c     6.1
d    98.0
dtype: float64

In [8]:
serie2['c']

6.0999999999999996

In [9]:
serie2[serie2 > 5]

c     6.1
d    98.0
dtype: float64

Um dataframe pode também ser visto como um dicionário de séries.

In [10]:
dados = {'estado': ['mg', 'sp', 'pr', 'rj', 'ba'],
        'ano': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
dados = DataFrame(dados)

dados

    ano estado  pop
0  2000     mg  1.5
1  2001     sp  1.7
2  2002     pr  3.6
3  2001     rj  2.4
4  2002     ba  2.9

In [11]:
# mudando a ordem das colunas
DataFrame(dados, columns=['estado', 'ano', 'pop'])

  estado   ano  pop
0     mg  2000  1.5
1     sp  2001  1.7
2     pr  2002  3.6
3     rj  2001  2.4
4     ba  2002  2.9

In [94]:
# se indicar coluna que não existe, ela é preenchida com NaN
dados2 = DataFrame(dados, columns=['ano', 'estado', 'pop', 'dívida'])
dados2

    ano estado  pop  dívida
0  2000     mg  1.5     NaN
1  2001     sp  1.7     NaN
2  2002     pr  3.6     NaN
3  2001     rj  2.4     NaN
4  2002     ba  2.9     NaN

In [98]:
# redefinir valores
dados2['dívida'] = 16.5
dados2

    ano estado  pop  dívida
0  2000     mg  1.5    16.5
1  2001     sp  1.7    16.5
2  2002     pr  3.6    16.5
3  2001     rj  2.4    16.5
4  2002     ba  2.9    16.5

In [99]:
# redefinir valores usando arange
dados2['dívida'] = np.arange(5.)
dados2

    ano estado  pop  dívida
0  2000     mg  1.5     0.0
1  2001     sp  1.7     1.0
2  2002     pr  3.6     2.0
3  2001     rj  2.4     3.0
4  2002     ba  2.9     4.0

In [95]:
# Para subselecionar uma coluna, é possível usar notação de dicionário ou de atributo
dados2['ano'] # notação de dicionário

0    2000
1    2001
2    2002
3    2001
4    2002
Name: ano, dtype: int64

In [96]:
dados2.ano # notação de atributo

0    2000
1    2001
2    2002
3    2001
4    2002
Name: ano, dtype: int64

In [100]:
# renomear coluna
dados2.rename(columns={'ano': 'aaaano'})

   aaaano estado  pop  dívida
0    2000     mg  1.5     0.0
1    2001     sp  1.7     1.0
2    2002     pr  3.6     2.0
3    2001     rj  2.4     3.0
4    2002     ba  2.9     4.0

In [101]:
dados2['dívida_pc'] = dados2['dívida'] / dados2['pop']
dados2.round(2)

    ano estado  pop  dívida  dívida_pc
0  2000     mg  1.5     0.0       0.00
1  2001     sp  1.7     1.0       0.59
2  2002     pr  3.6     2.0       0.56
3  2001     rj  2.4     3.0       1.25
4  2002     ba  2.9     4.0       1.38

In [102]:
# criar coluna com um teste booleano
dados2['nova'] = dados2.estado == 'mg'
dados2

    ano estado  pop  dívida  dívida_pc   nova
0  2000     mg  1.5     0.0   0.000000   True
1  2001     sp  1.7     1.0   0.588235  False
2  2002     pr  3.6     2.0   0.555556  False
3  2001     rj  2.4     3.0   1.250000  False
4  2002     ba  2.9     4.0   1.379310  False

In [103]:
# apagar coluna
del dados2['nova']

In [104]:
dados2

    ano estado  pop  dívida  dívida_pc
0  2000     mg  1.5     0.0   0.000000
1  2001     sp  1.7     1.0   0.588235
2  2002     pr  3.6     2.0   0.555556
3  2001     rj  2.4     3.0   1.250000
4  2002     ba  2.9     4.0   1.379310

In [105]:
# apagar coluna, outra maneira 
dados2.drop('ano', axis=1)

  estado  pop  dívida  dívida_pc
0     mg  1.5     0.0   0.000000
1     sp  1.7     1.0   0.588235
2     pr  3.6     2.0   0.555556
3     rj  2.4     3.0   1.250000
4     ba  2.9     4.0   1.379310

In [106]:
# mostrar apenas os valores
dados2.values

array([[2000, 'mg', 1.5, 0.0, 0.0],
       [2001, 'sp', 1.7, 1.0, 0.5882352941176471],
       [2002, 'pr', 3.6, 2.0, 0.5555555555555556],
       [2001, 'rj', 2.4, 3.0, 1.25],
       [2002, 'ba', 2.9, 4.0, 1.3793103448275863]], dtype=object)

In [109]:
# apagar linha
dados2.drop([1, 4])

    ano estado  pop  dívida  dívida_pc
0  2000     mg  1.5     0.0   0.000000
2  2002     pr  3.6     2.0   0.555556
3  2001     rj  2.4     3.0   1.250000

In [110]:
# transpor
dados2.T

              0         1         2     3        4
ano        2000      2001      2002  2001     2002
estado       mg        sp        pr    rj       ba
pop         1.5       1.7       3.6   2.4      2.9
dívida        0         1         2     3        4
dívida_pc     0  0.588235  0.555556  1.25  1.37931

## Ler dados

In [12]:
# conferir em qual diretório você está
%pwd

'/home/lincoln/Dropbox/nupis/python'

In [13]:
# lista os arquivos do diretório
%time

algebra.ipynb               example.json           scatter.html
altair.ipynb                grandes_regioes.ipynb  seaborn.ipynb
atlas.csv                   hr90.html              seaborn_violin.html
bokeh.ipynb                 ipython.ipynb          sklearn.ipynb
bqplot.ipynb                k-means.ipynb          slides.ipynb
choropleth.html             line.html              slides.slides.html
csv.jpg                     lines.html             stacked_bar.html
dataframes.ipynb            log_lines.html         strings.ipynb
demografia.ipynb            matplotlib.ipynb       teste2.ipynb
demo.ipynb                  numeros.ipynb          Teste-apagar.ipynb
demo-patricia.ipynb         osm.html               teste.ipynb
espacial_aede.ipynb         pca.ipynb              Untitled1.ipynb
espacial_agrupamento.ipynb  plotly.ipynb           Untitled2.ipynb
espacial_mapas.ipynb        prog2.ipynb            Untitled.ipynb
espacial_regressao.ipynb    prog.ipynb             wdi.ipynb
example_HR80.html           regressao.ipynb        xonsh-configurar
example_HR90.html           r.ipynb                xonsh.ipynb

In [4]:
atlas = read_csv('atlas.csv')

In [ ]:
# usando o TAB para autocompletar, é muito fácil ler dados que estão em outro diretório
# atlas = read_csv('/home/lincoln/Dropbox/nupis/dados/atlas.csv')

## Subselecionar

In [116]:
# linhas
atlas[41:43]

    uf   nome_uf  meso          nome_meso  micro         nome_micro  codmun6  \
41  11  rondônia  1102  leste rondoniense  11007            vilhena   110145
42  11  rondônia  1102  leste rondoniense  11008  colorado do oeste   110146

    codmun7              nome_mun  espvida   ...     vab_total  impostos  \
41  1101450               parecis    73.00   ...      47291.78   2673.68
42  1101468  pimenteiras do oeste    73.98   ...      41633.03   2163.47

         pib     pibpc   agro   ind    ser    adm   imp  cid_peq
41  49965.46  10387.83  372.0  66.0  125.0  384.0  54.0     True
42  43796.50  18861.54  526.0  43.0  107.0  275.0  49.0     True

[2 rows x 84 columns]

In [6]:
# colunas
atlas['pop']

0    24392
1    90353
2     6313
3    78574
4    17029
Name: pop, dtype: int64

In [13]:
a = atlas.loc[:,['nome_mun', 'pop']]

In [15]:
a.sort_values('pop', ascending=False).head(41)

                     nome_mun       pop
3828                são paulo  11253503
3241           rio de janeiro   6320446
2161                 salvador   2675656
5564                 brasília   2570160
948                 fortaleza   2452185
2308           belo horizonte   2375151
111                    manaus   1802014
4004                 curitiba   1751907
1595                   recife   1537704
4927             porto alegre   1409351
169                     belém   1393399
5412                  goiânia   1302001
3478                guarulhos   1221979
3374                 campinas   1080113
634                  são luís   1014837
3246              são gonçalo    999728
1695                   maceió    932748
3198          duque de caxias    855048
881                  teresina    814230
1162                    natal    803739
3223              nova iguaçu    796257
5118             campo grande    786797
3810    são bernardo do campo    765463
1336              joão pessoa    723515
3800              santo andré    676407
3653                   osasco    666740
1551  jaboatão dos guararapes    644620
3823      são josé dos campos    629921
3753           ribeirão preto    604682
3066               uberlândia    604013
2447                 contagem    603442
3847                 sorocaba    586625
1753                  aracaju    571149
1956         feira de santana    556642
5214                   cuiabá    551098
2662             juiz de fora    516247
4446                joinville    515288
4101                 londrina    506701
3221                  niterói    487562
160                ananindeua    471980
3182             belford roxo    469332

In [118]:
# mais de uma coluna
atlas[['pop', 'fectot']]

          pop  fectot
0       24392    2.24
1       90353    1.91
2        6313    2.15
3       78574    1.90
4       17029    2.12
5       18591    1.89
6        8783    2.29
7       13678    2.72
8       28729    2.22
9       41656    2.61
10      52005    2.11
11     116610    2.26
12      31135    2.54
13      19874    2.03
14      37928    1.86
15      33822    2.18
16     428527    2.13
17      22319    2.27
18       3316    2.93
19      50648    1.99
20       8886    2.32
21      76202    1.99
22      21828    2.29
23      22546    2.78
24      16853    1.87
25      12816    2.69
26      17135    2.93
27      32383    2.57
28      10240    2.26
29       5736    2.53
...       ...     ...
5535    30034    1.72
5536     4617    2.55
5537    22283    2.24
5538     3757    2.41
5539     1991    1.97
5540    17088    1.86
5541    84443    2.12
5542     7481    2.62
5543    19089    2.21
5544     6514    2.58
5545     2825    2.84
5546     3541    1.55
5547     3016    2.86
5548     6561    2.17
5549     2819    1.85
5550   104488    1.99
5551     3452    2.21
5552     4839    1.96
5553     4399    2.71
5554     2933    3.10
5555    36929    1.97
5556    13826    1.96
5557     3074    1.50
5558   132982    1.79
5559     3659    2.34
5560    12548    2.10
5561     7371    2.29
5562     4735    2.64
5563     5145    2.67
5564  2570160    1.75

[5565 rows x 2 columns]

In [119]:
# subseleção booleana de uma coluna 
atlas[atlas['pop']> 2000000]

      uf           nome_uf  meso                        nome_meso  micro  \
948   23             ceará  2303       metropolitana de fortaleza  23016
2161  29             bahia  2905        metropolitana de salvador  29021
2308  31      minas gerais  3107  metropolitana de belo horizonte  31030
3241  33    rio de janeiro  3306  metropolitana do rio de janeiro  33018
3828  35         são paulo  3515       metropolitana de são paulo  35061
5564  53  distrito federal  5301                 distrito federal  53001

          nome_micro  codmun6  codmun7        nome_mun  espvida   ...     \
948        fortaleza   230440  2304400       fortaleza    74.41   ...
2161        salvador   292740  2927408        salvador    75.10   ...
2308  belo horizonte   310620  3106200  belo horizonte    76.37   ...
3241  rio de janeiro   330455  3304557  rio de janeiro    75.69   ...
3828       são paulo   355030  3550308       são paulo    76.30   ...
5564        brasília   530010  5300108        brasília    77.35   ...

         vab_total     impostos           pib     pibpc  agro    ind    ser  \
948   3.171399e+07   5497598.53  3.721158e+07  15204.48   1.0  173.0  551.0
2161  3.463445e+07   5608532.08  4.024299e+07  15035.08   1.0  175.0  578.0
2308  4.995960e+07   9270031.69  5.922963e+07  24934.13   0.0  176.0  565.0
3241  1.604171e+08  47471125.80  2.078883e+08  32877.91   0.0  132.0  509.0
3828  3.626643e+08  84294504.48  4.469588e+08  39749.57   0.0  129.0  622.0
5564  1.216143e+08  22554115.72  1.441684e+08  56250.67   2.0   64.0  404.0

         adm    imp  cid_peq
948   128.00  148.0    False
2161  106.00  139.0    False
2308  102.00  157.0    False
3241    0.13  228.0    False
3828    0.06  189.0    False
5564  374.00  156.0    False

[6 rows x 84 columns]

In [120]:
# mostrar valores únicos
atlas['nome_uf'].drop_duplicates()

0                  rondônia
52                     acre
74                 amazonas
136                 roraima
151                    pará
294                   amapá
310               tocantins
449                maranhão
666                   piauí
890                   ceará
1074    rio grande do norte
1241                paraíba
1464             pernambuco
1649                alagoas
1751                sergipe
1826                  bahia
2243           minas gerais
3096         espírito santo
3174         rio de janeiro
3266              são paulo
3911                 paraná
4310         santa catarina
4603      rio grande do sul
5099     mato grosso do sul
5177            mato grosso
5318                  goiás
5564       distrito federal
Name: nome_uf, dtype: object

In [121]:
# amostrar
atlas.sample(5)

      uf         nome_uf  meso                  nome_meso  micro  \
2453  31    minas gerais  3108           vale do rio doce  31037
1510  26      pernambuco  2604          mata pernambucana  26015
3991  41          paraná  4104  norte pioneiro paranaense  41015
2788  31    minas gerais  3112               zona da mata  31065
4576  42  santa catarina  4205       grande florianópolis  42015

                        nome_micro  codmun6  codmun7      nome_mun  espvida  \
2453          governador valadares   311920  3119203       coroaci    73.64
1510  mata meridional pernambucana   260420  2604205       catende    70.59
3991             cornélio procópio   410600  4106001  congonhinhas    73.53
2788                  juiz de fora   314660  3146602         paiva    75.72
4576                       tijucas   421800  4218004       tijucas    77.39

       ...     vab_total   impostos        pib     pibpc   agro    ind    ser  \
2453   ...      52645.38    1920.09   54565.47   5311.02  184.0  91.00  242.0
1510   ...     205540.07   11917.68  217457.74   5748.29    0.2  54.00  283.0
3991   ...      81044.88    3476.50   84521.38  10209.13  402.0  78.00  253.0
2788   ...      11435.58     435.28   11870.87   7609.53   87.0  63.00  306.0
4576   ...     588858.75  105966.06  694824.81  22433.24   28.0   0.29  411.0

        adm    imp  cid_peq
2453  448.0   35.0     True
1510  409.0   55.0    False
3991  226.0   41.0     True
2788  507.0   37.0     True
4576  119.0  153.0    False

[5 rows x 84 columns]

### Subseleção com pesquisa

In [14]:
vga = atlas.query('nome_micro == "varginha"')
vga.shape

SyntaxError: invalid syntax (<ipython-input-14-abe8b3900e7a>, line 1)

In [123]:
atlas.query('pop < 5000 & rdpc > 1500') # ou atlas[(atlas.pop < 5000) & (atlas.rdpc > 1500)]

      uf            nome_uf  meso               nome_meso  micro  nome_micro  \
3272  35          são paulo  3506              piracicaba  35028  piracicaba
4527  42     santa catarina  4206         sul catarinense  42018     tubarão
5056  43  rio grande do sul  4301  noroeste rio-grandense  43004     erechim

      codmun6  codmun7            nome_mun  espvida   ...     vab_total  \
3272   350060  3500600  águas de são pedro    78.37   ...      65902.50
4527   421490  4214904         rio fortuna    75.98   ...     319813.00
5056   432163  4321634        três arroios    76.08   ...      36774.21

      impostos        pib     pibpc   agro    ind     ser    adm   imp  \
3272   3803.73   69706.23  25788.47    0.0  91.00  677.00  177.0  55.0
4527   5134.74  324947.74  73087.66   84.0   0.81    0.06   31.0  16.0
5056   1644.25   38418.46  13456.55  408.0  43.00    0.25  256.0  43.0

      cid_peq
3272     True
4527     True
5056     True

[3 rows x 84 columns]

In [124]:
atlas3 = atlas[(atlas['nome_uf'] == 'são paulo') | (atlas['nome_uf'] == 'minas gerais')]
atlas3.shape

(1498, 84)

### métodos de seleção 

vga.loc: por rótulo (label)  
vga.iloc: por posição

In [125]:
vga = vga.iloc[ : , 10:15]
vga

      fectot  mort1  razdep  t_env  e_anosestudo
2318    2.01  13.40   47.23   9.01          8.46
2360    2.34  13.90   47.70   9.23          8.76
2365    1.95  15.90   45.89   9.05          9.38
2368    2.05  16.50   47.96   8.27          8.68
2393    2.53  18.50   48.60   7.44          8.11
2448    1.68  14.90   48.81   9.71          9.61
2506    1.90  14.90   46.41   8.30          8.79
2561    1.84  15.60   44.39   8.58          8.57
2588    1.97  15.90   47.85   8.48          7.37
2734    2.04  14.80   44.85   8.54          9.71
2922    1.95  13.90   44.68   7.45          9.86
2950    2.70  18.50   52.62   5.90          9.06
3007    2.37  18.50   44.74   5.65          9.25
3055    1.93  13.40   44.66   7.26          9.25
3057    1.74  13.90   44.82   7.82          9.46
3076    1.50  12.21   39.18   7.17          9.74

In [126]:
vga.loc[2318] # nome da linha

fectot           2.01
mort1           13.40
razdep          47.23
t_env            9.01
e_anosestudo     8.46
Name: 2318, dtype: float64

In [127]:
vga.iloc[0] # número da linha

fectot           2.01
mort1           13.40
razdep          47.23
t_env            9.01
e_anosestudo     8.46
Name: 2318, dtype: float64

In [128]:
vga.iloc[[0, 7, 10], [0, 2]] # seleção não contínua (note os colchetes duplos)

      fectot  razdep
2318    2.01   47.23
2561    1.84   44.39
2922    1.95   44.68

In [129]:
vga.iloc[:5, 2:]   # uso do default

      razdep  t_env  e_anosestudo
2318   47.23   9.01          8.46
2360   47.70   9.23          8.76
2365   45.89   9.05          9.38
2368   47.96   8.27          8.68
2393   48.60   7.44          8.11

In [130]:
vga < 15 # seleção booleana de todo o dataframe

     fectot  mort1 razdep t_env e_anosestudo
2318   True   True  False  True         True
2360   True   True  False  True         True
2365   True  False  False  True         True
2368   True  False  False  True         True
2393   True  False  False  True         True
2448   True   True  False  True         True
2506   True   True  False  True         True
2561   True  False  False  True         True
2588   True  False  False  True         True
2734   True   True  False  True         True
2922   True   True  False  True         True
2950   True  False  False  True         True
3007   True  False  False  True         True
3055   True   True  False  True         True
3057   True   True  False  True         True
3076   True   True  False  True         True

In [131]:
vga[vga < 15]

      fectot  mort1  razdep  t_env  e_anosestudo
2318    2.01  13.40     NaN   9.01          8.46
2360    2.34  13.90     NaN   9.23          8.76
2365    1.95    NaN     NaN   9.05          9.38
2368    2.05    NaN     NaN   8.27          8.68
2393    2.53    NaN     NaN   7.44          8.11
2448    1.68  14.90     NaN   9.71          9.61
2506    1.90  14.90     NaN   8.30          8.79
2561    1.84    NaN     NaN   8.58          8.57
2588    1.97    NaN     NaN   8.48          7.37
2734    2.04  14.80     NaN   8.54          9.71
2922    1.95  13.90     NaN   7.45          9.86
2950    2.70    NaN     NaN   5.90          9.06
3007    2.37    NaN     NaN   5.65          9.25
3055    1.93  13.40     NaN   7.26          9.25
3057    1.74  13.90     NaN   7.82          9.46
3076    1.50  12.21     NaN   7.17          9.74

In [132]:
vga[vga.e_anosestudo > 9.5]

      fectot  mort1  razdep  t_env  e_anosestudo
2448    1.68  14.90   48.81   9.71          9.61
2734    2.04  14.80   44.85   8.54          9.71
2922    1.95  13.90   44.68   7.45          9.86
3076    1.50  12.21   39.18   7.17          9.74

In [136]:
vga[vga < 5] = 0
vga

      fectot  mort1  razdep  t_env  e_anosestudo
2318     0.0  13.40   47.23   9.01          8.46
2360     0.0  13.90   47.70   9.23          8.76
2365     0.0  15.90   45.89   9.05          9.38
2368     0.0  16.50   47.96   8.27          8.68
2393     0.0  18.50   48.60   7.44          8.11
2448     0.0  14.90   48.81   9.71          9.61
2506     0.0  14.90   46.41   8.30          8.79
2561     0.0  15.60   44.39   8.58          8.57
2588     0.0  15.90   47.85   8.48          7.37
2734     0.0  14.80   44.85   8.54          9.71
2922     0.0  13.90   44.68   7.45          9.86
2950     0.0  18.50   52.62   5.90          9.06
3007     0.0  18.50   44.74   5.65          9.25
3055     0.0  13.40   44.66   7.26          9.25
3057     0.0  13.90   44.82   7.82          9.46
3076     0.0  12.21   39.18   7.17          9.74

## Ordenar

In [137]:
# criar novo conjunto de dados
vga = atlas.query('nome_micro == "varginha"')
vga = vga.loc[: ,['nome_mun', 'pop']]

In [138]:
vga.sort_values(by='pop')

                  nome_mun     pop
2950       são bento abade    4577
3007  são thomé das letras    6655
2922     santana da vargem    7231
2734       monsenhor paulo    8161
2448             coqueiral    9289
2365         campo do meio   11476
2588              ilicínea   11488
2393    carmo da cachoeira   11836
2561                 guapé   13872
2360              campanha   15433
2506           elói mendes   25220
2368         campos gerais   27600
2318         boa esperança   38516
3057           três pontas   53860
3055         três corações   72765
3076              varginha  123081

In [139]:
vga.sort_values(by='pop', ascending=False)

                  nome_mun     pop
3076              varginha  123081
3055         três corações   72765
3057           três pontas   53860
2318         boa esperança   38516
2368         campos gerais   27600
2506           elói mendes   25220
2360              campanha   15433
2561                 guapé   13872
2393    carmo da cachoeira   11836
2588              ilicínea   11488
2365         campo do meio   11476
2448             coqueiral    9289
2734       monsenhor paulo    8161
2922     santana da vargem    7231
3007  são thomé das letras    6655
2950       são bento abade    4577

In [140]:
# ranking
# parece com com sorting, mas atribui posição e cria posição média para empates
obj = Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [141]:
obj.rank(ascending=False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

## Estatísticas descritivas

In [142]:
atlas['pop'].sum()

190755799

In [143]:
# NA são excluídos, a menos que toda a linha (ou coluna seja NA)
atlas['pop'].mean()

34277.771608265946

In [144]:
# estatíticas indiretas: indicam o índice, não o valor
atlas['pop'].idxmax()

3828

In [145]:
df = DataFrame(np.arange(50).reshape(10, 5), columns=list('ABCDE'))
df

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34
7  35  36  37  38  39
8  40  41  42  43  44
9  45  46  47  48  49

In [146]:
df.mean()     # média das colunas

A    22.5
B    23.5
C    24.5
D    25.5
E    26.5
dtype: float64

In [147]:
df.mean(axis=1) # média das linhas

0     2.0
1     7.0
2    12.0
3    17.0
4    22.0
5    27.0
6    32.0
7    37.0
8    42.0
9    47.0
dtype: float64

In [148]:
df.corr()

     A    B    C    D    E
A  1.0  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0  1.0
E  1.0  1.0  1.0  1.0  1.0

In [149]:
df.cov()

            A           B           C           D           E
A  229.166667  229.166667  229.166667  229.166667  229.166667
B  229.166667  229.166667  229.166667  229.166667  229.166667
C  229.166667  229.166667  229.166667  229.166667  229.166667
D  229.166667  229.166667  229.166667  229.166667  229.166667
E  229.166667  229.166667  229.166667  229.166667  229.166667

In [150]:
df.cumsum()

     A    B    C    D    E
0    0    1    2    3    4
1    5    7    9   11   13
2   15   18   21   24   27
3   30   34   38   42   46
4   50   55   60   65   70
5   75   81   87   93   99
6  105  112  119  126  133
7  140  148  156  164  172
8  180  189  198  207  216
9  225  235  245  255  265

In [151]:
df.apply(np.cumsum)  # usar apply

     A    B    C    D    E
0    0    1    2    3    4
1    5    7    9   11   13
2   15   18   21   24   27
3   30   34   38   42   46
4   50   55   60   65   70
5   75   81   87   93   99
6  105  112  119  126  133
7  140  148  156  164  172
8  180  189  198  207  216
9  225  235  245  255  265

In [152]:
df.describe().round(1)

          A     B     C     D     E
count  10.0  10.0  10.0  10.0  10.0
mean   22.5  23.5  24.5  25.5  26.5
std    15.1  15.1  15.1  15.1  15.1
min     0.0   1.0   2.0   3.0   4.0
25%    11.2  12.2  13.2  14.2  15.2
50%    22.5  23.5  24.5  25.5  26.5
75%    33.8  34.8  35.8  36.8  37.8
max    45.0  46.0  47.0  48.0  49.0

In [153]:
# non-numeric
obj = Series(['a', 'a', 'b', 'c'] * 4)
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [154]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

### Estatísticas descritivas
describe  
count	 
min, max  	
argmin, argmax  	
idxmin, idxmax	   
quantile	  
sum	  
mean	median	
mad	(mean absolute deviation from mean value)  
var	 std	  
skew	Sample skewness (3rd moment) of values  
kurt	Sample kurtosis (4th moment) of values  
cumsum	Cumulative sum of values  
cummin, cummax	Cumulative minimum or maximum of values, respectively  
cumprod	Cumulative product of values  
pct_change	Compute percent changes  
corr  
cov   
unique
value_counts (frequency)   
isin (vectorized set membership for filtering)

## NAs

dropna	Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate.   
fillna	Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'.  
isnull	Return like-type object containing boolean values indicating which values are missing / NA.   
notnull	Negation of isnull.

In [ ]:
# dropna by default drops any row containing a missing value
# Passing how='all' will only drop rows that are all NA
# Dropping columns in the same way is only a matter of passing axis=1
# to keep only rows containing a certain number of observations, thresh argument

In [155]:
df = DataFrame({'a': [1., np.nan, 5., 4],
                  'b': [3, 2., np.nan, 6.],
                  'c': range(2, 18, 4)})
df

     a    b   c
0  1.0  3.0   2
1  NaN  2.0   6
2  5.0  NaN  10
3  4.0  6.0  14

In [156]:
df.dropna()

     a    b   c
0  1.0  3.0   2
3  4.0  6.0  14

In [157]:
df.fillna(0)

     a    b   c
0  1.0  3.0   2
1  0.0  2.0   6
2  5.0  0.0  10
3  4.0  6.0  14

In [158]:
df['a'].fillna( df['c'].mean() )

0    1.0
1    8.0
2    5.0
3    4.0
Name: a, dtype: float64

## Unir dataframes

In [159]:
# merge leva em conta os índices, concat apenas junta, combine_first ompleta um com outro
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})
print(df1)
df2

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

   data2 key
0      0   a
1      1   b
2      2   d

In [161]:
# many to one
merge(df1, df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [162]:
# explicitando a chave
merge(df1, df2, on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

default é inner join, mas com *how=* é possível especificar direita, esquerda e outer (união, esquerda + direita)

In [163]:
# completando um df com outro: combine_first
df1 = DataFrame({'a': [1., np.nan, 5., np.nan],
                  'b': [np.nan, 2., np.nan, 6.],
                  'c': range(2, 18, 4)})
df2 = DataFrame({'a': [5., 4., np.nan, 3., 7.],
                  'b': [np.nan, 3., 4., 6., 8.]})
print(df1)
df2

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [164]:
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN

In [166]:
# reshaping
#     stack: this “rotates” or pivots from the columns in the data to the rows
#     unstack: this pivots from the rows into the columns
data = DataFrame(arange(6).reshape((2, 3)),
                  index=Index(['Ohio', 'Colorado'], name='state'),
                  columns=Index(['one', 'two', 'three'], name='number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [167]:
result = data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

In [168]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [169]:
# indicado o nível da indexação hierárquica
result.unstack(0)

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [170]:
result.unstack('state')

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [ ]:
# estudar pivoting (exemplos do livro não funcionaram): serve para criar formato largo
# pivot is just a shortcut for creating a hierarchical index using set_index and reshaping with unstack

In [171]:
# removing duplicate rows
data = DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [172]:
data.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [173]:
data.drop_duplicates()

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

In [174]:
# Transforming Data Using a Function or Mapping
data = DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami',
                            'corned beef', 'Bacon', 'pastrami', 'honey ham',
                            'nova lox'],
                            'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [175]:
# Suppose you wanted to add a column indicating the type of animal that each food came from. Let’s write down a mapping of each distinct meat type to the kind of animal
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [176]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [177]:
# outra estratégia
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [179]:
# replacing values
data = Series([1., -999., 2., -999., -1000., 3.])
data.replace([-999, -1000], [nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [180]:
# para renomear index
# data.index = data.index.map(str.lower)

## Discretização: criando classes

In [181]:
# creating dummy variables
df = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                 'data1': range(6)})
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [182]:
get_dummies(df['key'])

     a    b    c
0  0.0  1.0  0.0
1  0.0  1.0  0.0
2  1.0  0.0  0.0
3  0.0  0.0  1.0
4  1.0  0.0  0.0
5  0.0  1.0  0.0

In [184]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
cats = cut(ages, bins, labels=group_names) # para mudar o lado inclusivo, right=False
cats

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [185]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [186]:
cats.categories

Index(['Youth', 'YoungAdult', 'MiddleAged', 'Senior'], dtype='object')

In [187]:
value_counts(cats)

Youth         5
MiddleAged    3
YoungAdult    3
Senior        1
dtype: int64

In [188]:
# If you pass cut a integer number of bins instead of explicit bin edges, it will compute equal-length bins based on the minimum and maximum values in the data. Consider the case of some uniformly distributed data chopped into fourths
data = random.rand(20)
data = cut(data, 4, precision=2)
value_counts(data)

(0.74, 0.99]     8
(0.013, 0.26]    6
(0.26, 0.5]      4
(0.5, 0.74]      2
dtype: int64

## Dividindo em quantis

In [189]:
data = random.randn(1000) # Normally distributed
cats = qcut(data, 4) # Cut into quartiles
value_counts(cats)

(0.706, 3.0226]     250
(0.0574, 0.706]     250
(-0.668, 0.0574]    250
[-2.967, -0.668]    250
dtype: int64

In [190]:
qcut(data, [0, 0.1, 0.5, 0.9, 1.])

[(1.369, 3.0226], (0.0574, 1.369], (0.0574, 1.369], (1.369, 3.0226], (0.0574, 1.369], ..., (0.0574, 1.369], (-1.323, 0.0574], (-1.323, 0.0574], (0.0574, 1.369], (-1.323, 0.0574]]
Length: 1000
Categories (4, object): [[-2.967, -1.323] < (-1.323, 0.0574] < (0.0574, 1.369] < (1.369, 3.0226]]

## Outliers: detectar e filtrar

In [193]:
random.seed(12345)
data = DataFrame(random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [194]:
col = data[3]
col[abs(col) > 3]

97     3.927528
305   -3.399312
400   -3.745356
Name: 3, dtype: float64

In [195]:
# mostrar todos os outliers
data[(abs(data) > 3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

## Split-apply-combine

In [196]:
# split-apply-combine
df = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                 'key2' : ['one', 'two', 'one', 'two', 'one'],
                 'data1' : random.randn(5),
                 'data2' : random.randn(5)})
df

      data1     data2 key1 key2
0  1.150765  1.199915    a  one
1 -0.997174 -0.451814    a  two
2  0.046486 -0.155385    b  one
3 -0.610441 -0.153514    b  two
4 -0.394982  0.011194    a  one

In [ ]:
df['data1'].groupby(df['key1']).mean()

### Tabulações cruzadas



Sample  Gender    Handedness  
1  Female  Right-handed  
2    Male   Left-handed  
3  Female  Right-handed  
4    Male  Right-handed  
5    Male   Left-handed  
6    Male  Right-handed  
7  Female  Right-handed  
8  Female   Left-handed  
9    Male  Right-handed  
10  Female  Right-handed

In [198]:
dados = read_clipboard()

In [199]:
dados

   Sample  Gender    Handedness
0       1  Female  Right-handed
1       2    Male   Left-handed
2       3  Female  Right-handed
3       4    Male  Right-handed
4       5    Male   Left-handed
5       6    Male  Right-handed
6       7  Female  Right-handed
7       8  Female   Left-handed
8       9    Male  Right-handed
9      10  Female  Right-handed

In [200]:
crosstab(dados.Gender, dados.Handedness, margins=True)

Handedness  Left-handed  Right-handed  All
Gender
Female                1             4    5
Male                  2             3    5
All                   3             7   10

In [ ]:
# para usar mais de uma variável: pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)

## compração com o r/dplyr

r/dplyr |	 python/pandas
:-------:|:---------:
filter() |	query() (and loc[], iloc[])
arrange() | sort_values
select()  |	_getitem_ (and rename())
distinct() 	| drop_duplicates()
mutate()  |	assign
summarise() 	| None
sample_n() |	sample
%>% |	pipe